In [1]:
# Import dependencies

import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [2]:
from config import db_password

In [3]:
# Read in the cleaned country_vaccinations CSV file as Pandas DataFrames.
vaccination_table = pd.read_csv('Resources/Cleaned_data/vaccination_table.csv', low_memory=False)
vaccination_table

,country_name,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred
0,Albania,ALB,2021-02-18,3049.0,2438.0,611.0,1348.0,254.0,0.11,0.08,0.02
1,Argentina,ARG,2021-01-21,265724.0,249372.0,16352.0,17791.0,11704.0,0.59,0.55,0.04
2,Argentina,ARG,2021-01-22,279602.0,254456.0,25146.0,13878.0,11263.0,0.62,0.56,0.06
3,Argentina,ARG,2021-01-23,288064.0,258876.0,29188.0,8462.0,11124.0,0.64,0.57,0.06
4,Argentina,ARG,2021-01-24,292023.0,260036.0,31987.0,3959.0,10342.0,0.65,0.58,0.07
...,...,...,...,...,...,...,...,...,...,...,...
2512,Wales,OWID_WLS,2021-03-15,1412849.0,1139866.0,272983.0,25663.0,30490.0,44.81,36.15,8.66
2513,Wales,OWID_WLS,2021-03-16,1446436.0,1157251.0,289185.0,33587.0,31547.0,45.88,36.70,9.17
2514,Wales,OWID_WLS,2021-03-17,1484566.0,1180155.0,304411.0,38130.0,32646.0,47.09,37.43,9.66
2515,Wales,OWID_WLS,2021-03-18,1523077.0,1204101.0,318976.0,38511.0,32705.0,48.31,38.19,10.12
2516,Wales,OWID_WLS,2021-03-19,1561360.0,1231830.0,329530.0,38283.0,32429.0,49.52,39.07,10.45

In [4]:
# Create the connection string
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/Final_project"

In [5]:
# Cretae the Database Engine
engine = create_engine(db_string)

In [6]:
# Create table in SQL
# vaccination_table.to_sql(name='vaccination_table', con=engine, index = False)

In [7]:
# Read in the cleaned country_gdp CSV file as Pandas DataFrames.
country_master = pd.read_csv('Resources/Cleaned_data/country_master.csv', low_memory=False)
country_master

,country_name,Population_2020,iso_code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,106845,ABW,GDP (current US$),NY.GDP.MKTP.CD,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.549721e+09,2.534637e+09,2.701676e+09,2.765363e+09,2.919553e+09,2.965922e+09,3.056425e+09,0.000000e+00,0.000000e+00,0.0
1,Afghanistan,39074280,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,...,1.780429e+10,2.000160e+10,2.056107e+10,2.048489e+10,1.990711e+10,1.801775e+10,1.886995e+10,1.835388e+10,1.929110e+10,0.0
2,Angola,33032075,AGO,GDP (current US$),NY.GDP.MKTP.CD,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.120000e+11,1.280000e+11,1.370000e+11,1.460000e+11,1.160000e+11,1.010000e+11,1.220000e+11,1.010000e+11,8.881570e+10,0.0
3,Albania,2877239,ALB,GDP (current US$),NY.GDP.MKTP.CD,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.289077e+10,1.231983e+10,1.277622e+10,1.322814e+10,1.138685e+10,1.186120e+10,1.301969e+10,1.514702e+10,1.527918e+10,0.0
4,Andorra,77287,AND,GDP (current US$),NY.GDP.MKTP.CD,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,3.629204e+09,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.154058e+09,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,Zimbabwe,14899771,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,...,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.204090e+10,2.431156e+10,2.144076e+10,0.0
264,England,"56,287,000",OWID_ENG,0,0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
265,Scotland,"5,469,000",OWID_SCT,0,0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
266,Northern Ireland,"1,900,200",OWID_NIR,0,0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
267,Wales,"3,153,000",OWID_WLS,0,0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0

In [8]:
# Create the connection string
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/Final_project"

In [9]:
# Cretae the Database Engine
engine = create_engine(db_string)

In [10]:
# Create table in SQL
country_master.to_sql(name='country_master', con=engine, index = False)
# country_master.to_sql(name='country_master2', con=engine, index = False)