In [1]:
# Import dependencies

import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [2]:
from config import db_password

In [3]:
# Create the connection string
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/Final_project"

In [4]:
# Cretae the Database Engine
engine = create_engine(db_string)

In [5]:
# Connect to PostgreSQL server

dbConnection = engine.connect()

In [6]:
# Get data from Postgress database
gdp_vaccination_join = pd.read_sql("select * from gdp_vaccination_join", dbConnection);
gdp_vaccination_join

,country_name,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,indicator_name,indicator_code,GDP_2019,Population_2019
0,Albania,ALB,2021-02-18,3049.0,2438.0,611.0,1348.0,254.0,0.11,0.08,0.02,GDP (current US$),NY.GDP.MKTP.CD,1.527918e+10,2854191
1,Argentina,ARG,2021-01-21,265724.0,249372.0,16352.0,17791.0,11704.0,0.59,0.55,0.04,GDP (current US$),NY.GDP.MKTP.CD,4.450000e+11,44938712
2,Argentina,ARG,2021-01-22,279602.0,254456.0,25146.0,13878.0,11263.0,0.62,0.56,0.06,GDP (current US$),NY.GDP.MKTP.CD,4.450000e+11,44938712
3,Argentina,ARG,2021-01-23,288064.0,258876.0,29188.0,8462.0,11124.0,0.64,0.57,0.06,GDP (current US$),NY.GDP.MKTP.CD,4.450000e+11,44938712
4,Argentina,ARG,2021-01-24,292023.0,260036.0,31987.0,3959.0,10342.0,0.65,0.58,0.07,GDP (current US$),NY.GDP.MKTP.CD,4.450000e+11,44938712
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2243,United States,USA,2021-03-16,110737856.0,72135616.0,39042345.0,1655996.0,2435037.0,33.11,21.57,11.67,GDP (current US$),NY.GDP.MKTP.CD,2.140000e+13,328239523
2244,United States,USA,2021-03-17,113037627.0,73669956.0,39989196.0,2299771.0,2473762.0,33.80,22.03,11.96,GDP (current US$),NY.GDP.MKTP.CD,2.140000e+13,328239523
2245,United States,USA,2021-03-18,115730008.0,75495716.0,40981464.0,2692381.0,2503731.0,34.60,22.57,12.25,GDP (current US$),NY.GDP.MKTP.CD,2.140000e+13,328239523
2246,United States,USA,2021-03-19,118313818.0,77230061.0,41934629.0,2583810.0,2455116.0,35.38,23.09,12.54,GDP (current US$),NY.GDP.MKTP.CD,2.140000e+13,328239523
2247,United States,USA,2021-03-20,121441497.0,79367225.0,43036818.0,3127679.0,2248285.0,36.31,23.73,12.87,GDP (current US$),NY.GDP.MKTP.CD,2.140000e+13,328239523

In [7]:
# Save file to csv
# gdp_vaccination_join = gdp_vaccination_join.to_csv('../Resources/Cleaned_data/gdp_vaccination_join.csv',index =False)

In [8]:
# Get data from Postgress database
gdp_vaccination_hdi = pd.read_sql("select * from gdp_vaccination_hdi", dbConnection);
gdp_vaccination_hdi

,country_name,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,...,GDP_2019,Population_2019,HDI rank,Human Development Index HDI 2019,Life expectancy at birth 2019,Expected years of schooling 2019,Mean years of schoolingn 2019,Gross national income GNI per capita 2019,GNI per capita rank minus HDI rank 2019,HDI rank 2018
0,Norway,NOR,2021-03-18,758514.0,497011.0,261503.0,20847.0,8964.0,13.99,9.17,...,4.030000e+11,5347896,1,0.957,82.40,18.06615,12.89775,66494.252170,7,1
1,Norway,NOR,2021-03-17,737667.0,477442.0,260225.0,24252.0,10013.0,13.61,8.81,...,4.030000e+11,5347896,1,0.957,82.40,18.06615,12.89775,66494.252170,7,1
2,Norway,NOR,2021-03-16,713415.0,454675.0,258740.0,6226.0,11950.0,13.16,8.39,...,4.030000e+11,5347896,1,0.957,82.40,18.06615,12.89775,66494.252170,7,1
3,Norway,NOR,2021-03-15,707189.0,449054.0,258135.0,520.0,13413.0,13.04,8.28,...,4.030000e+11,5347896,1,0.957,82.40,18.06615,12.89775,66494.252170,7,1
4,Norway,NOR,2021-03-14,706669.0,448952.0,257717.0,106.0,14040.0,13.04,8.28,...,4.030000e+11,5347896,1,0.957,82.40,18.06615,12.89775,66494.252170,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000,India,IND,2021-02-17,9186757.0,8844641.0,342116.0,329416.0,309949.0,0.67,0.64,...,2.870000e+12,1366417754,131,0.645,69.66,12.16229,6.50000,6681.346904,-5,130
2001,India,IND,2021-02-16,8857341.0,8641002.0,216339.0,340570.0,320826.0,0.64,0.63,...,2.870000e+12,1366417754,131,0.645,69.66,12.16229,6.50000,6681.346904,-5,130
2002,India,IND,2021-02-13,8052454.0,8044786.0,7668.0,84807.0,325305.0,0.58,0.58,...,2.870000e+12,1366417754,131,0.645,69.66,12.16229,6.50000,6681.346904,-5,130
2003,San Marino,SMR,2021-03-19,7923.0,7888.0,35.0,595.0,445.0,23.35,23.24,...,0.000000e+00,33860,0,0.000,0.00,13.04993,0.00000,0.000000,0,0
2004,San Marino,SMR,2021-03-18,7328.0,7299.0,29.0,590.0,435.0,21.59,21.51,...,0.000000e+00,33860,0,0.000,0.00,13.04993,0.00000,0.000000,0,0

In [9]:
# Save file to csv
gdp_vaccination_hdi = gdp_vaccination_hdi.to_csv('../Resources/Cleaned_data/gdp_vaccination_hdi.csv',index =False)

In [10]:
# Get data from Postgress database
country_group = pd.read_sql("select * from country_group", dbConnection);
country_group

,country_name,iso_code,population_2019,people_fully_vaccinated,gdp_2019
0,Morocco,MAR,36471769,1.427594e+07,1.200000e+11
1,Israel,ISR,9053300,1.721946e+08,3.950000e+11
2,Hungary,HUN,9769949,1.158358e+07,1.630000e+11
3,Austria,AUT,8877067,9.744762e+06,4.450000e+11
4,South Africa,ZAF,58558270,2.464155e+06,3.510000e+11
5,Greece,GRC,10716322,9.937428e+06,2.100000e+11
6,United Kingdom,GBR,66834405,5.267752e+07,2.830000e+12
7,Denmark,DNK,5818553,9.302367e+06,3.500000e+11
8,Romania,ROU,19356544,2.491800e+07,2.500000e+11
9,Turkey,TUR,83429615,7.698843e+07,7.610000e+11
10,Iceland,ISL,361313,1.232140e+05,2.418804e+10
11,Albania,ALB,2854191,6.110000e+02,1.527918e+10
12,Portugal,PRT,10269417,1.157796e+07,2.390000e+11
13,Montenegro,MNE,622137,7.930000e+02,5.542578e+09
14,Bahrain,BHR,1641172,3.008350e+06,3.857407e+10
15,Seychelles,SYC,97625,1.625150e+05,1.703387e+09
16,Estonia,EST,1326590,1.063435e+06,3.147110e+10
17,Switzerland,CHE,8574832,8.521501e+06,7.030000e+11
18,Norway,NOR,5347896,6.499288e+06,4.030000e+11
19,Indonesia,IDN,270625568,2.932803e+07,1.120000e+12
20,Poland,POL,37970874,2.973391e+07,5.960000e+11
21,Serbia,SRB,6944975,1.622683e+07,5.147502e+10
22,Ireland,IRL,4941444,4.793326e+06,3.890000e+11
23,Lebanon,LBN,6855713,2.303760e+05,5.199163e+10
24,India,IND,1366417754,1.129947e+08,2.870000e+12
25,United Arab Emirates,ARE,9770529,2.437849e+06,4.210000e+11
26,Colombia,COL,50339443,3.045740e+05,3.240000e+11
27,Bulgaria,BGR,6975761,1.849268e+06,6.855882e+10
28,Croatia,HRV,4067500,9.442300e+04,6.075259e+10
29,Lithuania,LTU,2786844,3.382023e+06,5.462741e+10
30,Russian Federation,RUS,144373535,2.888306e+07,1.700000e+12
31,Finland,FIN,5520314,2.876297e+06,2.690000e+11
32,Japan,JPN,126264931,7.113200e+04,5.080000e+12
33,France,FRA,67059887,5.190206e+07,2.720000e+12
34,Luxembourg,LUX,619896,2.704190e+05,7.110492e+10
35,Brazil,BRA,211049527,5.170054e+07,1.840000e+12
36,Sweden,SWE,10285453,1.117198e+06,5.310000e+11
37,Italy,ITA,60297396,7.533138e+07,2.000000e+12
38,Canada,CAN,37589262,2.170755e+07,1.740000e+12
39,Chile,CHL,18952038,2.913520e+07,2.820000e+11
40,United States,USA,328239523,1.094314e+09,2.140000e+13
41,Slovenia,SVN,2087946,2.878305e+06,5.417423e+10
42,Oman,OMN,4974986,3.093140e+05,7.633152e+10
43,Belgium,BEL,11484055,1.283261e+07,5.330000e+11
44,Singapore,SGP,5703569,2.186940e+05,3.720000e+11
45,Ecuador,ECU,17373662,3.882100e+04,1.070000e+11
46,Spain,ESP,47076781,3.275102e+07,1.390000e+12
47,Mexico,MEX,127575529,1.555620e+07,1.270000e+12
48,Argentina,ARG,44938712,1.317390e+07,4.450000e+11
49,Malta,MLT,502653,1.151310e+06,1.498942e+10
50,San Marino,SMR,33860,6.400000e+01,0.000000e+00
51,Latvia,LVA,1912789,7.251750e+05,3.410291e+10
52,Germany,DEU,83132799,9.584826e+07,3.860000e+12
53,Peru,PER,32510453,1.660529e+06,2.270000e+11
54,Ukraine,UKR,44385155,1.000000e+00,1.540000e+11

In [11]:
# Save file to csv
country_group = country_group.to_csv('../Resources/Cleaned_data/country_group.csv',index =False)